Flask==1.0.0
gunicorn==19.7.1
psycopg2==2.7.3.1
requests==2.20
slackclient==1.3.1
slack>=0.0.0
datetime==4.2
numpy>=1.11
matplotlib>=3.1.1
pycryptodome
google-cloud-storage
firebase
python_jwt
gcloud
sseclient
requests-toolbelt
cryptography
ffmpeg-python